In [2]:
import pandas as pd
import numpy as  np

In [3]:
!ls

Untitled.ipynb
bom.movie_gross.csv
title.basics.csv
title.ratings.csv

In [4]:
bom = pd.read_csv('bom.movie_gross.csv')
ratings = pd.read_csv('title.ratings.csv')
basics = pd.read_csv('title.basics.csv')

# EXPLORING BOM DATA SET

* Fetching the data set's info,shape, basic statistics of the columns, and a general overview  of the dataset.

In [5]:
#Fetching the first 5 rows
bom.head(5)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [6]:
#last 5 rows
bom.tail(5)

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [7]:
#General shape of the data sets
bom.shape

(3387, 5)

In [8]:
#General info about the data set
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [9]:
#Fetching columns
bom.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [10]:
#Changing the foreign_gross column type from object to numeric
bom['foreign_gross'] = pd.to_numeric(bom.foreign_gross , errors = 'coerce')

In [11]:
#Getting the genereal statistical distribution
bom.describe()

       domestic_gross  foreign_gross         year
count    3.359000e+03   2.032000e+03  3387.000000
mean     2.874585e+07   7.505704e+07  2013.958075
std      6.698250e+07   1.375294e+08     2.478141
min      1.000000e+02   6.000000e+02  2010.000000
25%      1.200000e+05   3.775000e+06  2012.000000
50%      1.400000e+06   1.890000e+07  2014.000000
75%      2.790000e+07   7.505000e+07  2016.000000
max      9.367000e+08   9.605000e+08  2018.000000

# EXPLORING THE title.basic DATASET

In [12]:
# Fetching the first two rows
basics.head(2)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"

In [13]:
#The last 2 rows
basics.tail(2)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [14]:
#Inquiring the gebneral shape of the dataset
basics.shape

(146144, 6)

In [15]:
#General info about the dataset
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [16]:
#Exploring the genres columns
basics.genres.unique()

array(['Action,Crime,Drama', 'Biography,Drama', 'Drama', ...,
       'Music,Musical,Reality-TV', 'Animation,Crime',
       'Adventure,History,War'], dtype=object)

In [17]:
#Returning the count of genres as in the dataset
basics['genres'].value_counts()

Documentary                    32185
Drama                          21486
Comedy                          9177
Horror                          4372
Comedy,Drama                    3519
                               ...
Family,Musical,Sport               1
Animation,Fantasy,Thriller         1
Drama,Game-Show,Thriller           1
Animation,History,Music            1
Action,Documentary,Thriller        1
Name: genres, Length: 1085, dtype: int64

In [18]:
#Displaying the 10 most common genres in the dataset
basics['genres'].value_counts()[:10]

Documentary              32185
Drama                    21486
Comedy                    9177
Horror                    4372
Comedy,Drama              3519
Thriller                  3046
Action                    2219
Biography,Documentary     2115
Drama,Romance             2079
Comedy,Drama,Romance      1558
Name: genres, dtype: int64

# EXPLORING THE GENERALOVERVIEW OF THE  ratings DATASET

In [19]:
#Displaying the first 3 rows
ratings.head(3)

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20

In [20]:
#Displaying the last 3 rows
ratings.tail(3)

          tconst  averagerating  numvotes
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

In [21]:
#Displying a sample 10 records of the dataset randomly selected
ratings.sample(10)

          tconst  averagerating  numvotes
69317  tt3971764            7.5       132
20726  tt3282308            5.7       134
27984  tt1720163            4.4        30
34527  tt5678110            5.9       804
23849  tt5377564            7.5      2405
21096  tt7733426            6.7       220
46583  tt3661582            6.2         5
1304   tt1613819            6.9         9
10090  tt4934870            6.2       401
27561  tt7921992            4.0         8

In [22]:
#Inquiring about the columns
ratings.columns

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [23]:
ratings.shape

(73856, 3)

In [24]:
#Fetching the general info of the dataset
#NOTE: The dataset rows have no empty values
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [25]:
#Getting a statistical overview of the dataset
ratings.describe()

       averagerating      numvotes
count   73856.000000  7.385600e+04
mean        6.332729  3.523662e+03
std         1.474978  3.029402e+04
min         1.000000  5.000000e+00
25%         5.500000  1.400000e+01
50%         6.500000  4.900000e+01
75%         7.400000  2.820000e+02
max        10.000000  1.841066e+06

In [26]:
#Sorting the dataset with the averagerating
ratings.sort_values('averagerating', ascending = False)

          tconst  averagerating  numvotes
27644  tt8730716           10.0         5
8992   tt1770682           10.0         5
26153  tt2632430           10.0         5
65033  tt9715646           10.0        20
57679  tt5344358           10.0         6
...          ...            ...       ...
50971  tt6017238            1.0        21
32440  tt2087999            1.0         7
36456  tt1896768            1.0        21
54856  tt1976600            1.0       436
39248  tt8654080            1.0        21

[73856 rows x 3 columns]

In [27]:
#Getting a general overview of the averagerating column
ratings['averagerating'].unique()

array([ 8.3,  8.9,  6.4,  4.2,  6.5,  6.2,  7. ,  7.2,  5.1,  5.8,  8. ,
        5.5,  7.6,  5. ,  7.4,  6.6,  5.4,  4. ,  4.4,  5.6,  6.1,  3.4,
        7.7,  4.5,  6.3,  6.7,  8.4,  7.8,  5.2,  3.6,  2.1,  2.5,  4.6,
        7.5,  5.7,  3.5,  7.1,  8.5,  5.3,  8.2,  3.8,  4.9,  6.9,  8.6,
        7.3,  4.7,  3.2,  2.6,  3.9,  5.9,  8.7,  6.8,  7.9,  2. ,  6. ,
        3.7,  2.4,  3. ,  8.1,  4.8,  2.8,  9.2,  4.3,  2.9,  4.1,  1.4,
        1.9,  8.8,  9.4,  3.3,  9.1,  9.7,  9. ,  2.7,  1. ,  3.1,  1.7,
        2.3,  9.5,  9.3,  2.2,  1.2,  1.1,  9.8,  1.8,  1.5,  9.6,  1.6,
        9.9,  1.3, 10. ])

# MERGING THE DATASETS

In [28]:
#We start by merging the title basics datasets and the ratings dataset
merge_1 = pd.merge(ratings, basics, on='tconst' , how='outer')

In [29]:
#Inspecting the first 20 rows of the merged dataset
merge_1.head(20)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt10356526,8.3,31.0,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
1,tt10384606,8.9,559.0,Borderless,Borderless,2019,87.0,Documentary
2,tt1042974,6.4,20.0,Just Inès,Just Inès,2010,90.0,Drama
3,tt1043726,4.2,50352.0,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
4,tt1060240,6.5,21.0,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"
5,tt1069246,6.2,326.0,Habana Eva,Habana Eva,2010,106.0,"Comedy,Romance"
6,tt1094666,7.0,1613.0,The Hammer,Hamill,2010,108.0,"Biography,Drama,Sport"
7,tt1130982,6.4,571.0,The Night Clerk,Avant l'aube,2011,104.0,"Drama,Thriller"
8,tt1156528,7.2,265.0,Silent Sonata,Circus Fantasticus,2011,77.0,"Drama,War"
9,tt1161457,4.2,148.0,Vanquisher,The Vanquisher,2016,90.0,"Action,Adventure,Sci-Fi"
10,tt1171222,5.1,8296.0,Baggage Claim,Baggage Claim,2013,96.0,Comedy
11,tt1174693,5.8,2381.0,The Four-Faced Liar,The Four-Faced Liar,2010,87.0,"Comedy,Drama,Romance"
12,tt1181840,7.0,5494.0,Jack and the Cuckoo-Clock Heart,Jack et la mécanique du coeur,2013,94.0,"Adventure,Animation,Drama"
13,tt1193623,8.0,5.0,Buried Prayers,Buried Prayers,2010,NaN,Documentary
14,tt1199588,5.5,74.0,Black Widow,Black Widow,2010,75.0,Thriller
15,tt1204784,5.8,6.0,Maverick and Ariel's First Ever Ever Movie Hol...,Maverick and Ariel's First Ever Ever Movie Hol...,2010,NaN,Comedy
16,tt1210166,7.6,326657.0,Moneyball,Moneyball,2011,133.0,"Biography,Drama,Sport"
17,tt1212419,6.5,87288.0,Hereafter,Hereafter,2010,129.0,"Drama,Fantasy,Romance"
18,tt1220911,5.0,941.0,Why I Did (Not) Eat My Father,Pourquoi j'ai pas mangé mon père,2015,101.0,"Adventure,Animation,Comedy"
19,tt1229238,7.4,428142.0,Mission: Impossible - Ghost Protocol,Mission: Impossible - Ghost Protocol,2011,132.0,"Action,Adventure,Thriller"

In [30]:
merge_1.shape

(146144, 8)

In [31]:
#Merging the bom dataset with the merge_1 dataset
final_merge = pd.merge(merge_1 , bom, left_on=('primary_title'), right_on=('title') , how = 'outer')

# PERFORMING EDA FOR THE final_merge datasets

* It is important to do a data exploration of our newly merged dataset. To facilitate a better understanding of our newly formed dataset. This is important before we proceed to the data clean up and data analysis phase.

In [32]:
#Displaying the first 5 rows
final_merge.head(5)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,title,studio,domestic_gross,foreign_gross,year
0,tt10356526,8.3,31.0,Laiye Je Yaarian,Laiye Je Yaarian,2019.0,117.0,Romance,NaN,NaN,NaN,NaN,NaN
1,tt10384606,8.9,559.0,Borderless,Borderless,2019.0,87.0,Documentary,NaN,NaN,NaN,NaN,NaN
2,tt4131210,7.1,210.0,Borderless,Bedone marz,2014.0,102.0,"Drama,War",NaN,NaN,NaN,NaN,NaN
3,tt1042974,6.4,20.0,Just Inès,Just Inès,2010.0,90.0,Drama,NaN,NaN,NaN,NaN,NaN
4,tt1043726,4.2,50352.0,The Legend of Hercules,The Legend of Hercules,2014.0,99.0,"Action,Adventure,Fantasy",The Legend of Hercules,LG/S,18800000.0,42400000.0,2014.0

In [33]:
final_merge.shape

(146927, 13)

In [34]:
#Displaying  all the columns of the final_merge data set
final_merge.columns

Index(['tconst', 'averagerating', 'numvotes', 'primary_title',
       'original_title', 'start_year', 'runtime_minutes', 'genres', 'title',
       'studio', 'domestic_gross', 'foreign_gross', 'year'],
      dtype='object')

In [35]:
final_merge.sample(10)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,title,studio,domestic_gross,foreign_gross,year
21341,tt4249242,7.6,9.0,East End,East End,2016.0,90.0,"Adventure,Animation,Comedy",NaN,NaN,NaN,NaN,NaN
55202,tt2136972,5.7,68.0,Happily Never After,Happily Never After,2012.0,78.0,"Comedy,Drama",NaN,NaN,NaN,NaN,NaN
69190,tt1760979,7.1,36.0,Madonna of the Mills,Madonna of the Mills,2010.0,51.0,"Action,Biography,Documentary",NaN,NaN,NaN,NaN,NaN
64076,tt2907640,6.4,851.0,L.DK,L.DK,2014.0,NaN,"Drama,Romance",NaN,NaN,NaN,NaN,NaN
33232,tt4967924,5.1,79.0,At Your Own Risk,At Your Own Risk,2018.0,72.0,"Adventure,Thriller",NaN,NaN,NaN,NaN,NaN
146692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3 1/2 Minutes, 10 Bullets",Part.,30400.0,NaN,2015.0
36116,tt3886718,5.3,21.0,Justice,Hustisya,2014.0,NaN,Drama,NaN,NaN,NaN,NaN,NaN
107072,tt4186328,NaN,NaN,The Unforgettable Words,The Unforgettable Words,2014.0,90.0,"Drama,Romance",NaN,NaN,NaN,NaN,NaN
71704,tt1831744,3.9,400.0,The Haunted House Project,Pyega,2010.0,84.0,Horror,NaN,NaN,NaN,NaN,NaN
100388,tt3374470,NaN,NaN,Harlequiem: A Fragile Dream,Harlequiem: A Fragile Dream,2010.0,90.0,Comedy,NaN,NaN,NaN,NaN,NaN

# DATA PREPARATION
## DATA CLEAN UP

*At this stage, we will perform data clean up. Perform filtering, dropping of rows and columns that we dont need in our analysis, identifying missing values and dealing with them. Performing sorting of the data. Generally, we are preparing our data for analysis.

In [36]:
final_merge.head(100)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,title,studio,domestic_gross,foreign_gross,year
0,tt10356526,8.3,31.0,Laiye Je Yaarian,Laiye Je Yaarian,2019.0,117.0,Romance,NaN,NaN,NaN,NaN,NaN
1,tt10384606,8.9,559.0,Borderless,Borderless,2019.0,87.0,Documentary,NaN,NaN,NaN,NaN,NaN
2,tt4131210,7.1,210.0,Borderless,Bedone marz,2014.0,102.0,"Drama,War",NaN,NaN,NaN,NaN,NaN
3,tt1042974,6.4,20.0,Just Inès,Just Inès,2010.0,90.0,Drama,NaN,NaN,NaN,NaN,NaN
4,tt1043726,4.2,50352.0,The Legend of Hercules,The Legend of Hercules,2014.0,99.0,"Action,Adventure,Fantasy",The Legend of Hercules,LG/S,18800000.0,42400000.0,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,tt1467290,6.3,173.0,Retornos,Retornos,2010.0,88.0,Thriller,NaN,NaN,NaN,NaN,NaN
96,tt1468387,6.5,2306.0,What If...,What If...,2010.0,111.0,"Drama,Family,Fantasy",NaN,NaN,NaN,NaN,NaN
97,tt2400283,6.9,6924.0,What If...,An...,2012.0,111.0,"Drama,Romance",NaN,NaN,NaN,NaN,NaN
98,tt1474456,3.2,103.0,Lizard Boy,Lizard Boy,2011.0,98.0,"Action,Comedy,Horror",NaN,NaN,NaN,NaN,NaN
99,tt1478277,2.6,102.0,Igazából apa,Igazából apa,2010.0,NaN,"Comedy,Drama,Romance",NaN,NaN,NaN,NaN,NaN

In [37]:
#We will start by dropping the columns that we shall not use in our analysis
not_needed_columns = ['original_title', 'title', 'year']
final_merge.drop(columns = not_needed_columns, inplace = True )

In [38]:
#Confirming that the columns have been dropped 
final_merge.columns

Index(['tconst', 'averagerating', 'numvotes', 'primary_title', 'start_year',
       'runtime_minutes', 'genres', 'studio', 'domestic_gross',
       'foreign_gross'],
      dtype='object')

In [39]:
final_merge.head(5)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross
0,tt10356526,8.3,31.0,Laiye Je Yaarian,2019.0,117.0,Romance,NaN,NaN,NaN
1,tt10384606,8.9,559.0,Borderless,2019.0,87.0,Documentary,NaN,NaN,NaN
2,tt4131210,7.1,210.0,Borderless,2014.0,102.0,"Drama,War",NaN,NaN,NaN
3,tt1042974,6.4,20.0,Just Inès,2010.0,90.0,Drama,NaN,NaN,NaN
4,tt1043726,4.2,50352.0,The Legend of Hercules,2014.0,99.0,"Action,Adventure,Fantasy",LG/S,18800000.0,42400000.0

In [40]:
#Detecting the null values
final_merge.isna().sum()

tconst                781
averagerating       73069
numvotes            73069
primary_title         781
start_year            781
runtime_minutes     32520
genres               6189
studio             142785
domestic_gross     142815
foreign_gross      144416
dtype: int64

In [41]:
#Dropping the NAN values for tconst,primary_title and start_year columns
final_merge.dropna(subset=['tconst','primary_title','start_year'], inplace = True)

In [42]:
final_merge.shape

(146146, 10)

In [43]:
final_merge.isna().sum()

tconst                  0
averagerating       72288
numvotes            72288
primary_title           0
start_year              0
runtime_minutes     31739
genres               5408
studio             142783
domestic_gross     142804
foreign_gross      144107
dtype: int64

In [44]:
#Checking for duplicates in the primary_title column
num_duplicates = final_merge[final_merge.duplicated(subset= ['primary_title'])]
num_duplicates

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross
2,tt4131210,7.1,210.0,Borderless,2014.0,102.0,"Drama,War",NaN,NaN,NaN
8,tt3096900,6.5,13.0,The Hammer,2015.0,75.0,"Action,Adventure,Documentary",NaN,NaN,NaN
17,tt9158074,NaN,NaN,Black Widow,2017.0,NaN,Drama,NaN,NaN,NaN
41,tt6135412,3.9,13.0,Going the Distance,2016.0,117.0,NaN,WB (NL),17800000.0,24200000.0
42,tt5127484,NaN,NaN,Going the Distance,2015.0,65.0,Comedy,WB (NL),17800000.0,24200000.0
...,...,...,...,...,...,...,...,...,...,...
144557,tt9616952,NaN,NaN,View from the Past,2019.0,NaN,Sci-Fi,NaN,NaN,NaN
144795,tt9660588,NaN,NaN,3. Elma,2014.0,65.0,Drama,NaN,NaN,NaN
144796,tt9773302,NaN,NaN,3. Elma,2014.0,65.0,Drama,NaN,NaN,NaN
144940,tt9688944,NaN,NaN,Um fio de esperança: independência ou guerra n...,2017.0,94.0,Documentary,NaN,NaN,NaN
145478,tt9817134,NaN,NaN,Taiga,2017.0,NaN,Drama,NaN,NaN,NaN

In [45]:
#Checking the count of the duplicated data in the primary_title column
final_merge.duplicated(['primary_title']).sum()

10075

*The count of duplicates in the primary_title column is 10075 and contributes to 6.894% of the entire column (146146 entries). We shall drop the duplicates to reduce on the data redundancy and improve on the coinciseness of the data

In [46]:
final_merge.drop_duplicates(subset= 'primary_title', keep="first", inplace=True)

In [47]:
final_merge.head(10)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross
0,tt10356526,8.3,31.0,Laiye Je Yaarian,2019.0,117.0,Romance,NaN,NaN,NaN
1,tt10384606,8.9,559.0,Borderless,2019.0,87.0,Documentary,NaN,NaN,NaN
3,tt1042974,6.4,20.0,Just Inès,2010.0,90.0,Drama,NaN,NaN,NaN
4,tt1043726,4.2,50352.0,The Legend of Hercules,2014.0,99.0,"Action,Adventure,Fantasy",LG/S,18800000.0,42400000.0
5,tt1060240,6.5,21.0,Até Onde?,2011.0,73.0,"Mystery,Thriller",NaN,NaN,NaN
6,tt1069246,6.2,326.0,Habana Eva,2010.0,106.0,"Comedy,Romance",NaN,NaN,NaN
7,tt1094666,7.0,1613.0,The Hammer,2010.0,108.0,"Biography,Drama,Sport",NaN,NaN,NaN
9,tt1130982,6.4,571.0,The Night Clerk,2011.0,104.0,"Drama,Thriller",NaN,NaN,NaN
10,tt1156528,7.2,265.0,Silent Sonata,2011.0,77.0,"Drama,War",NaN,NaN,NaN
11,tt1161457,4.2,148.0,Vanquisher,2016.0,90.0,"Action,Adventure,Sci-Fi",NaN,NaN,NaN

## Checking for null values in the domestic_gross and foreign_gross

In [48]:
final_merge.foreign_gross.isna().sum()

134511

In [49]:
final_merge.domestic_gross.isna().sum()

133483

In [50]:
#Calculating the median of each column.
median_value_domestic = final_merge['domestic_gross'].median()
median_value_domestic

1900000.0

In [51]:
# Filling the NAN values with the median of each columns
final_merge['domestic_gross'].fillna(median_value_domestic, inplace = True)

In [52]:
median_value_foreign = final_merge['foreign_gross'].median()
median_value_foreign

21900000.0

In [53]:
final_merge['foreign_gross'].fillna(median_value_foreign, inplace = True)

In [54]:
#Inspecting the new dataset after filling the NAN values
final_merge.head(10)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross
0,tt10356526,8.3,31.0,Laiye Je Yaarian,2019.0,117.0,Romance,NaN,1900000.0,21900000.0
1,tt10384606,8.9,559.0,Borderless,2019.0,87.0,Documentary,NaN,1900000.0,21900000.0
3,tt1042974,6.4,20.0,Just Inès,2010.0,90.0,Drama,NaN,1900000.0,21900000.0
4,tt1043726,4.2,50352.0,The Legend of Hercules,2014.0,99.0,"Action,Adventure,Fantasy",LG/S,18800000.0,42400000.0
5,tt1060240,6.5,21.0,Até Onde?,2011.0,73.0,"Mystery,Thriller",NaN,1900000.0,21900000.0
6,tt1069246,6.2,326.0,Habana Eva,2010.0,106.0,"Comedy,Romance",NaN,1900000.0,21900000.0
7,tt1094666,7.0,1613.0,The Hammer,2010.0,108.0,"Biography,Drama,Sport",NaN,1900000.0,21900000.0
9,tt1130982,6.4,571.0,The Night Clerk,2011.0,104.0,"Drama,Thriller",NaN,1900000.0,21900000.0
10,tt1156528,7.2,265.0,Silent Sonata,2011.0,77.0,"Drama,War",NaN,1900000.0,21900000.0
11,tt1161457,4.2,148.0,Vanquisher,2016.0,90.0,"Action,Adventure,Sci-Fi",NaN,1900000.0,21900000.0

In [55]:
final_merge.tail(10)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross
146136,tt9915872,NaN,NaN,The Last White Witch,2019.0,97.0,"Comedy,Drama,Fantasy",NaN,1900000.0,21900000.0
146137,tt9916132,NaN,NaN,The Mystery of a Buryat Lama,2018.0,94.0,"Biography,Documentary,History",NaN,1900000.0,21900000.0
146138,tt9916186,NaN,NaN,Illenau - die Geschichte einer ehemaligen Heil...,2017.0,84.0,Documentary,NaN,1900000.0,21900000.0
146139,tt9916190,NaN,NaN,Safeguard,2019.0,90.0,"Drama,Thriller",NaN,1900000.0,21900000.0
146140,tt9916428,NaN,NaN,The Secret of China,2019.0,NaN,"Adventure,History,War",NaN,1900000.0,21900000.0
146141,tt9916538,NaN,NaN,Kuambil Lagi Hatiku,2019.0,123.0,Drama,NaN,1900000.0,21900000.0
146142,tt9916622,NaN,NaN,Rodolpho Teóphilo - O Legado de um Pioneiro,2015.0,NaN,Documentary,NaN,1900000.0,21900000.0
146143,tt9916706,NaN,NaN,Dankyavar Danka,2013.0,NaN,Comedy,NaN,1900000.0,21900000.0
146144,tt9916730,NaN,NaN,6 Gunn,2017.0,116.0,NaN,NaN,1900000.0,21900000.0
146145,tt9916754,NaN,NaN,Chico Albuquerque - Revelações,2013.0,NaN,Documentary,NaN,1900000.0,21900000.0

In [56]:
final_merge.describe()

,averagerating,numvotes,start_year,runtime_minutes,domestic_gross,foreign_gross
count,69993.000000,6.999300e+04,136071.000000,106892.000000,1.360710e+05,1.360710e+05
mean,6.340581,3.482558e+03,2014.596497,86.357697,2.451679e+06,2.257702e+07
std,1.481208,3.046111e+04,2.719598,171.873281,1.014702e+07,1.642306e+07
min,1.000000,5.000000e+00,2010.000000,1.000000,1.000000e+02,6.000000e+02
25%,5.500000,1.400000e+01,2012.000000,70.000000,1.900000e+06,2.190000e+07
50%,6.500000,4.800000e+01,2015.000000,87.000000,1.900000e+06,2.190000e+07
75%,7.400000,2.720000e+02,2017.000000,99.000000,1.900000e+06,2.190000e+07
max,10.000000,1.841066e+06,2027.000000,51420.000000,7.001000e+08,9.464000e+08

# DATA ANALYSIS
*in this section, we shall perform data analysis of the cleaned data. This is to further inspect aspects and attributes of the data in order to come up with a comprehensive conclusion and recommendations.

In [62]:
#We start by analyzing most popular and profitable genres
# Create a new column 'Total_gross', a total of domestic and foreign gross.

#final_merge['Total_gross'] = final_merge['domestic_gross'] + final_merge['foreign_gross'] 
final_merge['Total_gross'] = final_merge.apply(lambda movie: movie['domestic_gross'] + movie['foreign_gross'] , axis=1)

In [64]:
final_merge.head(10)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,Total_gross
0,tt10356526,8.3,31.0,Laiye Je Yaarian,2019.0,117.0,Romance,NaN,1900000.0,21900000.0,23800000.0
1,tt10384606,8.9,559.0,Borderless,2019.0,87.0,Documentary,NaN,1900000.0,21900000.0,23800000.0
3,tt1042974,6.4,20.0,Just Inès,2010.0,90.0,Drama,NaN,1900000.0,21900000.0,23800000.0
4,tt1043726,4.2,50352.0,The Legend of Hercules,2014.0,99.0,"Action,Adventure,Fantasy",LG/S,18800000.0,42400000.0,61200000.0
5,tt1060240,6.5,21.0,Até Onde?,2011.0,73.0,"Mystery,Thriller",NaN,1900000.0,21900000.0,23800000.0
6,tt1069246,6.2,326.0,Habana Eva,2010.0,106.0,"Comedy,Romance",NaN,1900000.0,21900000.0,23800000.0
7,tt1094666,7.0,1613.0,The Hammer,2010.0,108.0,"Biography,Drama,Sport",NaN,1900000.0,21900000.0,23800000.0
9,tt1130982,6.4,571.0,The Night Clerk,2011.0,104.0,"Drama,Thriller",NaN,1900000.0,21900000.0,23800000.0
10,tt1156528,7.2,265.0,Silent Sonata,2011.0,77.0,"Drama,War",NaN,1900000.0,21900000.0,23800000.0
11,tt1161457,4.2,148.0,Vanquisher,2016.0,90.0,"Action,Adventure,Sci-Fi",NaN,1900000.0,21900000.0,23800000.0

In [68]:
final_merge.sort_values('Total_gross', ascending=False).head(10)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,Total_gross
72112,tt2395427,7.3,665594.0,Avengers: Age of Ultron,2015.0,141.0,"Action,Adventure,Sci-Fi",BV,459000000.0,946400000.0,1.405400e+09
11010,tt1825683,7.3,516148.0,Black Panther,2018.0,134.0,"Action,Adventure,Sci-Fi",BV,700100000.0,646900000.0,1.347000e+09
6343,tt2527336,7.1,462903.0,Star Wars: The Last Jedi,2017.0,152.0,"Action,Adventure,Fantasy",BV,620200000.0,712400000.0,1.332600e+09
10009,tt4881806,6.2,219125.0,Jurassic World: Fallen Kingdom,2018.0,128.0,"Action,Adventure,Sci-Fi",Uni.,417700000.0,891800000.0,1.309500e+09
20675,tt1323045,6.2,62311.0,Frozen,2010.0,93.0,"Adventure,Drama,Sport",BV,400700000.0,875700000.0,1.276400e+09
54155,tt3606756,7.7,203510.0,Incredibles 2,2018.0,118.0,"Action,Adventure,Animation",BV,608600000.0,634200000.0,1.242800e+09
29378,tt1300854,7.2,692794.0,Iron Man 3,2013.0,130.0,"Action,Adventure,Sci-Fi",BV,409000000.0,805800000.0,1.214800e+09
46634,tt2293640,6.4,193917.0,Minions,2015.0,91.0,"Adventure,Animation,Comedy",Uni.,336000000.0,823400000.0,1.159400e+09
68433,tt3498820,7.8,583507.0,Captain America: Civil War,2016.0,147.0,"Action,Adventure,Sci-Fi",BV,408100000.0,745200000.0,1.153300e+09
58086,tt1477834,7.1,263328.0,Aquaman,2018.0,143.0,"Action,Adventure,Fantasy",WB,335100000.0,812700000.0,1.147800e+09

### Clearly, from  the  above  analysis, the Action, Adventure , Sci-Fi genre has the most revenue generation in the box office movies. A genre Microsoft studio offices could venture into.

In [76]:
#We could also check the movies with the highest rating and analyze them
high_rating = final_merge[final_merge['averagerating'] > 8.5]
high_rating

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,Total_gross
1,tt10384606,8.9,559.0,Borderless,2019.0,87.0,Documentary,NaN,1900000.0,21900000.0,23800000.0
89,tt1450750,8.6,27.0,My Father from Haifa,2010.0,NaN,Documentary,NaN,1900000.0,21900000.0,23800000.0
120,tt1517605,8.7,23.0,Astralis - Institution,2010.0,81.0,"Biography,Comedy,Documentary",NaN,1900000.0,21900000.0,23800000.0
220,tt1651906,9.2,9.0,Mzungu (n.) White-Wanderer,2010.0,80.0,"Adventure,Documentary,Drama",NaN,1900000.0,21900000.0,23800000.0
317,tt1740117,8.7,60.0,Toryboy the Movie,2010.0,90.0,"Biography,Documentary,News",NaN,1900000.0,21900000.0,23800000.0
...,...,...,...,...,...,...,...,...,...,...,...
78818,tt9035872,9.0,10.0,Just One More Kiss,2019.0,100.0,"Drama,Romance",NaN,1900000.0,21900000.0,23800000.0
78828,tt9127488,9.3,10.0,Postal,2019.0,77.0,Comedy,NaN,1900000.0,21900000.0,23800000.0
78836,tt9219848,8.7,18.0,Elon Musk: The Real Life Iron Man,2018.0,71.0,"Biography,Documentary",NaN,1900000.0,21900000.0,23800000.0
78851,tt9590776,9.2,37.0,Delta Zoo,2019.0,NaN,Documentary,NaN,1900000.0,21900000.0,23800000.0
78865,tt9768966,8.6,27.0,Plugged in,2019.0,53.0,Documentary,NaN,1900000.0,21900000.0,23800000.0

In [91]:
filtered_movies = final_merge.loc[(final_merge['averagerating']>8) & (final_merge['Total_gross']> 60000000)]
filtered_movies

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,Total_gross
413,tt10075374,8.3,6.0,The Little Prince,2019.0,93.0,Action,EOne,1300000.0,96200000.0,9.750000e+07
2732,tt8851190,8.1,26.0,Red,2018.0,90.0,Drama,Sum.,90400000.0,108600000.0,1.990000e+08
3989,tt1130884,8.1,1005960.0,Shutter Island,2010.0,138.0,"Mystery,Thriller",Par.,128000000.0,166800000.0,2.948000e+08
4046,tt1392190,8.1,780910.0,Mad Max: Fury Road,2015.0,120.0,"Action,Adventure,Sci-Fi",WB,153600000.0,224800000.0,3.784000e+08
4064,tt1454029,8.1,392699.0,The Help,2011.0,146.0,Drama,BV,169700000.0,46900000.0,2.166000e+08
5109,tt1605776,8.3,7.0,The Visit,2010.0,90.0,"Comedy,Drama,Romance",Uni.,65200000.0,33200000.0,9.840000e+07
8759,tt6966692,8.3,204972.0,Green Book,2018.0,130.0,"Biography,Comedy,Drama",Uni.,85100000.0,234700000.0,3.198000e+08
10649,tt1345836,8.4,1387769.0,The Dark Knight Rises,2012.0,164.0,"Action,Thriller",WB,448100000.0,636800000.0,1.084900e+09
15864,tt3741834,8.1,181601.0,Lion,2016.0,118.0,"Biography,Drama",Wein.,51700000.0,88600000.0,1.403000e+08
16259,tt0892769,8.1,611299.0,How to Train Your Dragon,2010.0,98.0,"Action,Adventure,Animation",P/DW,217600000.0,277300000.0,4.949000e+08
21567,tt5027774,8.2,344047.0,"Three Billboards Outside Ebbing, Missouri",2017.0,115.0,"Crime,Drama",FoxS,54500000.0,104700000.0,1.592000e+08
23964,tt2024544,8.1,577301.0,12 Years a Slave,2013.0,134.0,"Biography,Drama,History",FoxS,56700000.0,131100000.0,1.878000e+08
29304,tt0816692,8.6,1299334.0,Interstellar,2014.0,169.0,"Adventure,Drama,Sci-Fi",Par.,188000000.0,489400000.0,6.774000e+08
30249,tt2015381,8.1,948394.0,Guardians of the Galaxy,2014.0,121.0,"Action,Adventure,Comedy",BV,333200000.0,440200000.0,7.734000e+08
30304,tt2096673,8.2,536181.0,Inside Out,2015.0,95.0,"Adventure,Animation,Comedy",BV,356500000.0,501100000.0,8.576000e+08
33690,tt1895587,8.1,365110.0,Spotlight,2015.0,129.0,"Crime,Drama",ORF,45100000.0,53200000.0,9.830000e+07
40320,tt2267998,8.1,761592.0,Gone Girl,2014.0,149.0,"Drama,Mystery,Thriller",Fox,167800000.0,201600000.0,3.694000e+08
40432,tt2380307,8.4,277194.0,Coco,2017.0,105.0,"Adventure,Animation,Comedy",BV,209700000.0,597400000.0,8.071000e+08
43365,tt1853728,8.4,1211405.0,Django Unchained,2012.0,165.0,"Drama,Western",Wein.,162800000.0,262600000.0,4.254000e+08
44692,tt0993846,8.2,1035358.0,The Wolf of Wall Street,2013.0,180.0,"Biography,Crime,Drama",Par.,116900000.0,275100000.0,3.920000e+08
45006,tt2278388,8.1,633604.0,The Grand Budapest Hotel,2014.0,99.0,"Adventure,Comedy,Crime",FoxS,59300000.0,115500000.0,1.748000e+08
52558,tt5074352,8.5,123638.0,Dangal,2016.0,161.0,"Action,Biography,Drama",UTV,12400000.0,290500000.0,3.029000e+08
55504,tt2614250,8.3,14.0,Rio,2012.0,90.0,Documentary,Fox,143600000.0,341000000.0,4.846000e+08
56375,tt5311514,8.4,134084.0,Your Name.,2016.0,106.0,"Animation,Drama,Fantasy",FUN,5000000.0,353000000.0,3.580000e+08
56718,tt0435761,8.3,682218.0,Toy Story 3,2010.0,103.0,"Adventure,Animation,Comedy",BV,415000000.0,652000000.0,1.067000e+09
61938,tt4849438,8.3,65656.0,Baahubali 2: The Conclusion,2017.0,167.0,"Action,Drama",GrtIndia,20200000.0,234000000.0,2.542000e+08
64229,tt3313072,8.6,143.0,War Horse,2014.0,NaN,Drama,BV,79900000.0,97700000.0,1.776000e+08
68930,tt1375666,8.8,1841066.0,Inception,2010.0,148.0,"Action,Adventure,Sci-Fi",WB,292600000.0,535700000.0,8.283000e+08
68940,tt1392214,8.1,526273.0,Prisoners,2013.0,153.0,"Crime,Drama,Mystery",WB,61000000.0,61100000.0,1.221000e+08
70641,tt2119532,8.1,366904.0,Hacksaw Ridge,2016.0,139.0,"Biography,Drama,History",LGF,67200000.0,108100000.0,1.753000e+08
76987,tt4154756,8.5,670926.0,Avengers: Infinity War,2018.0,149.0,"Action,Adventure,Sci-Fi",BV,678800000.0,21900000.0,7.007000e+08

In [111]:
#Groupimg  the highly rated movies with high revenues generated.
grouped = filtered_movies.groupby(['genres','averagerating'])
grouped.sum().sort_values(by='numvotes', ascending=False)

                                           numvotes  start_year  \
genres                     averagerating
Action,Adventure,Sci-Fi    8.8            1841066.0      2010.0
Action,Thriller            8.4            1387769.0      2012.0
Adventure,Drama,Sci-Fi     8.6            1299334.0      2014.0
Drama,Western              8.4            1211405.0      2012.0
Biography,Crime,Drama      8.2            1035358.0      2013.0
Mystery,Thriller           8.1            1005960.0      2010.0
Action,Adventure,Comedy    8.1             948394.0      2014.0
Biography,Drama,History    8.1             944205.0      4029.0
Action,Adventure,Sci-Fi    8.1             780910.0      2015.0
Drama,Mystery,Thriller     8.1             761592.0      2014.0
Adventure,Animation,Comedy 8.3             682218.0      2010.0
Action,Adventure,Sci-Fi    8.5             670926.0      2018.0
Adventure,Comedy,Crime     8.1             633604.0      2014.0
Action,Adventure,Animation 8.1             611299.0      2010.0
Adventure,Animation,Comedy 8.2             536181.0      2015.0
Crime,Drama,Mystery        8.1             526273.0      2013.0
Drama                      8.1             392725.0      4029.0
Crime,Drama                8.1             365110.0      2015.0
                           8.2             344047.0      2017.0
Adventure,Animation,Comedy 8.4             277194.0      2017.0
Biography,Comedy,Drama     8.3             204972.0      2018.0
Biography,Drama            8.1             181601.0      2016.0
Animation,Drama,Fantasy    8.4             134084.0      2016.0
Action,Biography,Drama     8.5             123638.0      2016.0
Action,Drama               8.3              65656.0      2017.0
Drama                      8.6                143.0      2014.0
Documentary                8.3                 14.0      2012.0
Comedy,Drama,Romance       8.3                  7.0      2010.0
Action                     8.3                  6.0      2019.0

                                          runtime_minutes  domestic_gross  \
genres                     averagerating
Action,Adventure,Sci-Fi    8.8                      148.0     292600000.0
Action,Thriller            8.4                      164.0     448100000.0
Adventure,Drama,Sci-Fi     8.6                      169.0     188000000.0
Drama,Western              8.4                      165.0     162800000.0
Biography,Crime,Drama      8.2                      180.0     116900000.0
Mystery,Thriller           8.1                      138.0     128000000.0
Action,Adventure,Comedy    8.1                      121.0     333200000.0
Biography,Drama,History    8.1                      273.0     123900000.0
Action,Adventure,Sci-Fi    8.1                      120.0     153600000.0
Drama,Mystery,Thriller     8.1                      149.0     167800000.0
Adventure,Animation,Comedy 8.3                      103.0     415000000.0
Action,Adventure,Sci-Fi    8.5                      149.0     678800000.0
Adventure,Comedy,Crime     8.1                       99.0      59300000.0
Action,Adventure,Animation 8.1                       98.0     217600000.0
Adventure,Animation,Comedy 8.2                       95.0     356500000.0
Crime,Drama,Mystery        8.1                      153.0      61000000.0
Drama                      8.1                      236.0     260100000.0
Crime,Drama                8.1                      129.0      45100000.0
                           8.2                      115.0      54500000.0
Adventure,Animation,Comedy 8.4                      105.0     209700000.0
Biography,Comedy,Drama     8.3                      130.0      85100000.0
Biography,Drama            8.1                      118.0      51700000.0
Animation,Drama,Fantasy    8.4                      106.0       5000000.0
Action,Biography,Drama     8.5                      161.0      12400000.0
Action,Drama               8.3                      167.0      20200000.0
Drama                      8.6                        0.0      79900000.0
Documentary                8.3                       90.0     143600000.0
Comedy,Drama,Romance       8.3                       90.0      65200000.0
Action                     8.3                       93.0       1300000.0

                                          foreign_gross   Total_gross
genres                     averagerating
Action,Adventure,Sci-Fi    8.8              535700000.0  8.283000e+08
Action,Thriller            8.4              636800000.0  1.084900e+09
Adventure,Drama,Sci-Fi     8.6              489400000.0  6.774000e+08
Drama,Western              8.4              262600000.0  4.254000e+08
Biography,Crime,Drama      8.2              275100000.0  3.920000e+08
Mystery,Thriller           8.1              166800000.0  2.948000e+08
Action,Adventure,Comedy    8.1              440200000.0  7.734000e+08
Biography,Drama,History    8.1              239200000.0  3.631000e+08
Action,Adventure,Sci-Fi    8.1              224800000.0  3.784000e+08
Drama,Mystery,Thriller     8.1              201600000.0  3.694000e+08
Adventure,Animation,Comedy 8.3              652000000.0  1.067000e+09
Action,Adventure,Sci-Fi    8.5               21900000.0  7.007000e+08
Adventure,Comedy,Crime     8.1              115500000.0  1.748000e+08
Action,Adventure,Animation 8.1              277300000.0  4.949000e+08
Adventure,Animation,Comedy 8.2              501100000.0  8.576000e+08
Crime,Drama,Mystery        8.1               61100000.0  1.221000e+08
Drama                      8.1              155500000.0  4.156000e+08
Crime,Drama                8.1               53200000.0  9.830000e+07
                           8.2              104700000.0  1.592000e+08
Adventure,Animation,Comedy 8.4              597400000.0  8.071000e+08
Biography,Comedy,Drama     8.3              234700000.0  3.198000e+08
Biography,Drama            8.1               88600000.0  1.403000e+08
Animation,Drama,Fantasy    8.4              353000000.0  3.580000e+08
Action,Biography,Drama     8.5              290500000.0  3.029000e+08
Action,Drama               8.3              234000000.0  2.542000e+08
Drama                      8.6               97700000.0  1.776000e+08
Documentary                8.3              341000000.0  4.846000e+08
Comedy,Drama,Romance       8.3               33200000.0  9.840000e+07
Action                     8.3               96200000.0  9.750000e+07

#### Based on the above analysis the top 5 genres that are highly preferred by most viewers  are:
### 1. Action,Adventure,Sci-Fi
### 2. Action,Thriller
### 3. Adventure,Drama,Sci-Fi
### 4.Drama,Western
### 5. Biography,Crime,Drama

In [112]:
# Next, we analyze the studios that Microsoft would emulate or collaborate with in production in order to produce successful movies.

In [120]:
high_rating[['studio','Total_gross']].sort_values(by='Total_gross', ascending = False).head(10)

      studio  Total_gross
68930     WB  828300000.0
29304   Par.  677400000.0
64229     BV  177600000.0
54804    NaN   23800000.0
54518    NaN   23800000.0
54529    NaN   23800000.0
54594    NaN   23800000.0
54609    NaN   23800000.0
54646    NaN   23800000.0
54656    NaN   23800000.0